Source: ibus-input-pad
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Uploaders: Takao Fujiwara <takao.fujiwara1@gmail.com>
Build-Depends:
    autoconf,
    automake,
    autotools-dev,
    intltool (>= 0.40.0),
    libgtk2.0-dev,
    libibus-dev,
    libinput-pad-dev,
    libxkbfile-dev,
    libxklavier-dev (>= 4.0),
    libxml2-dev (>= 2.0),
    debhelper (>= 7.0.50)
Standards-Version: 3.9.1
Homepage: http://code.google.com/p/input-pad/

Package: ibus-input-pad
Architecture: any
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
    ibus,
    libinput-pad1
Description: Input Pad for IBus
 The input pad engine for IBus platform.
 It provides the interface to use input-pad with IBus.
 .
 This package contains the IBus engine.
